<div class="container">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1 class="mb-3">Ini adalah halaman About</h1>
      <img src="img/profile.jpg" width="250" alt="" class="img-thumbnail rounded-circle mb-4">
      <h3>Bima Arya Wicaksana</h3>
    </div>
  </div>
</div>